:root {
    --misty-rose: #f1dedeff;
    --puce: #d496a7ff;
    --independence: #5d576bff;
    --baby-blue: #6cd4ffff;
    --congo-pink: #fe938cff;
    --misty-rose-dark: #bc6262;
    --baby-blue-light: #ebf9ff;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
} 

body {
    background-color: var(--misty-rose);
}

header {
    background-color: var(--misty-rose-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
}

header img {
    border-radius: 50%;
    margin: 15px;
}

header h1 {
    font-family: 'Comfortaa', cursive;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    color: white;
    background-color: var(--independence);
    border-radius: 15px;
}

section {
    margin-bottom: 20px;
}

section h1 {
    margin: 10px 0;
}

#title {
    display: flex;
    align-items: center;
}

#main-content {
    max-width: 980px;
    margin: 0 auto;
}

.card {
    background-color: var(--baby-blue-light);
    border-radius: 10px; 
    margin-bottom: 15px;
}

.card img {
    border-radius: 10px 10px 0 0;
}

.card h2, .card h3, .card h4, .card h5, .card p {
    margin: 5px;
}

.card:hover {
    filter: drop-shadow(0px 0px 6px #000);
}

.big-card img {
    max-width: 100%;
    height: auto;
}

.small-card {
    width: 200px;
}

.small-card img {
    width: 200px;
    height: 200px;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#contact a {
    color: black;
}

#contact ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

/* Media Queries */
@media screen and (max-width: 980px) {
    #main-content {
        max-width: 970px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    #main-content {
        max-width: 758px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 575px) {
    #main-content {
        max-width: 565px;
        margin: 0 auto;
    }
}