:root {
    --independence: #5d576bff;
    --flicker-pink: #fc2288; 
    --dogwood-rose: #dd0369; 
    --unbleached-silk: #ffd7c2; 
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
} 

body {
    background-color: var(--flicker-pink);
}

header {
    background-color: var(--dogwood-rose);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
    position: sticky; 
    top: 0;
    z-index: 9999;
}

header img {
    border-radius: 50%;
    margin: 15px;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    color: white;
    background-color: var(--independence);
    border-radius: 15px;
}

section {
    margin-bottom: 60px;
    scroll-margin-top: 100px;
}

section h1, section p {
    margin-bottom: 20px;
    color: white;
}

footer {
    background-color: var(--unbleached-silk);
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h2 {
    display: inline;
}

#title {
    display: flex;
    align-items: center;
}

#main-content {
    max-width: 980px;
    margin: 0 auto;
}

#about {
    margin-top: 40px;
}

.card {
    background-color: white;
    border-radius: 10px; 
    margin-bottom: 15px;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, .5));
    transition: filter 0.3s ease-in-out;
}

.card img {
    border-radius: 10px 10px 0 0;
}

.card h2, .card h3, .card h4, .card h5, .card p {
    margin: 5px;
    color: black;
}

.card:hover {
    transition: filter 0.3s ease-in-out;
    filter: drop-shadow(0px 0px 6px #000);
}

.big-card img {
    width: 100%;
    height: auto;
}

.small-card {
    width: 200px;
}

.small-card img {
    width: 200px;
    height: 200px;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#contact a {
    color: black;
}

#contact ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

/* Media Queries */
@media screen and (max-width: 980px) {
    #main-content {
        max-width: inherit;
        width: 95%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 575px) {
    header {
       position: inherit; 
    }

    section {
        scroll-margin-top: 0;
    }
}